h1 {
    text-align: center;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    padding-bottom: 10px;
}

.seg-footer {
    text-align: center;
}

.row {
    padding-bottom: 12px;
}

#cut-speech {
    visibility: hidden;
}